.direnv
result
*.qcow2
services/**/.env
services/**/tailscale/
services/calibre/calibre-library
services/calibre/config
services/copyparty/data
services/freshrss/volume
services/rommservices/**/syncserver.ini
