TS_AUTHKEY=          # Tailscale auth key from https://login.tailscale.com/admin/settings/keys
PIA_USER=            # Private Internet Access account username
PIA_PASSWORD=         # Private Internet Access account password
PIA_SERVER_REGIONS=UK London   # See https://github.com/qdm12/gluetun/wiki/Private-Internet-Access for valid region names
